<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de Compras</title>
  <link href="../../public/css/output.css" rel="stylesheet" />
</head>
<body>
  <h1>Carrito de Compras</h1>
  <div id="carrito-container"></div>

  <script type="module" src="../../../backend/app/controllers/carrito/mostrarCarrito.js"></script>
  <script type="module" src="../../../backend/app/controllers/carrito/eliminarProducto.js"></script>
</body>
</html>