<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de Compras</title>
  <link href="../../public/css/output.css" rel="stylesheet" />
</head>
<body>

  <div class="drawer">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <!-- Navbar -->
      <div class="navbar bg-base-300 w-full flex items-center justify-between">
        <div class="flex-none lg:hidden">
          <label
            for="my-drawer-3"
            aria-label="open sidebar"
            class="btn btn-square btn-ghost"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block h-6 w-6 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </label>
        </div>
        <img src="../assets/rizzotronic.svg" class="object-contain h-11">
        <div class="hidden flex-none lg:block">
          <ul class="menu menu-horizontal">
            <!-- Navbar menu content here -->
            <li><a href="../../public/index.html">Home</a></li>
            <li><a href="../views/login.html">Iniciar Sesión</a></li>
            <li><a href="../views/register.html">Crear Cuenta</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <h1>Carrito de Compras</h1>
  <div id="carrito-container"></div>

  <script type="module" src="../../../backend/app/controllers/carrito/mostrarCarrito.js"></script>
  <script type="module" src="../../../backend/app/controllers/carrito/eliminarProducto.js"></script>
</body>
</html>