<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/output.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
            <h1 class="text-5xl font-bold m-11 mb-0 w-30">Inicia sesion!</h1>
            <form id="loginForm" class="card-body">
                
                <div class="form-control">
                    <label class="label">
                    <span class="label-text">Nombre de usuario</span>
                    </label>
                    <input id="username" type="text" placeholder="Usuario" class="input input-bordered" required />
                </div>
                <div class="form-control">
                    <label class="label">
                    <span class="label-text">Contraseña</span>
                    </label>
                    <input id="password" type="password" placeholder="********" class="input input-bordered" required />
                    
                </div>
                <div class="form-control mt-6">
                    <button id="loginButton" class="btn btn-primary" type="submit">Login</button>
                    <label class="label justify-between">
                        <a href="#" class="label-text-alt link link-hover">Olvidaste tu contraseña?</a>
                        <a href="http://localhost/Rizzotronic/frontend/public" class="label-text-alt link link-hover">Volver al inicio</a>
                    </label>
                </div>
            </form>
          </div>
        </div>
    </div>

    <script src="../../../backend/app/controllers/sessions/fieldsLogin.js"></script>
</body>

</html>