<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <!--nombre el correo electrónico, contraseña (encriptada), alias, nacionalidad y año de nacimiento-->
    <div class="h-screen flex justify-center items-center">
        <div class="lg:w-2/5 md:w-1/2 w-2/3">
            <form class="bg-black space-y-4 p-10 rounded-lg shadow-lg min-w-full">
                <h1 class="text-center text-2xl mb-6 font-bold font-sans">Register</h1>
    
                <div>
                    <label class="text-gray-400 font-semibold block my-1 text-md" for="Nombre">Nombre</label>
                    <input class="w-full border border-indigo-950 placeholder:text-gray-700 px-4 py-2 rounded-md" type="text" name="Nombre" placeholder="Nombre" />
                </div>

                <div>
                    <label class="text-gray-400 font-semibold block my-1 text-md" for="Email">Email</label>
                    <input class="w-full border border-indigo-950 placeholder:text-gray-700 px-4 py-2 rounded-md" type="text" name="Email" placeholder="Email" />
                </div>

                <div>
                    <label class="text-gray-400 font-semibold block my-1 text-md" for="Contraseña">Contraseña</label>
                    <input class="w-full border border-indigo-950 placeholder:text-gray-700 px-4 py-2 rounded-md" type="password" name="Contraseña" placeholder="Contraseña" />
                </div>

                <div>
                    <label class="text-gray-400 font-semibold block my-1 text-md" for="Alias">Alias</label>
                    <input class="w-full border border-indigo-950 placeholder:text-gray-700 px-4 py-2 rounded-md" type="text" name="Alias" placeholder="Alias" />
                </div>

                <div>
                    <label class="text-gray-400 font-semibold block my-1 text-md" for="nacionalidad">Nacionalidad</label>
                    <input class="w-full border border-indigo-950 placeholder:text-gray-700 px-4 py-2 rounded-md" type="text" name="nacionalidad" placeholder="nacionalidad" />
                </div>
                
                <div>
                    <label class="text-gray-400 font-semibold block my-1 text-md" for="nacimiento">Fecha de nacimiento</label>
                    <input class="w-full border border-indigo-950 placeholder:text-gray-700 px-4 py-2 rounded-md" type="text" name="nacimiento" placeholder="nacimiento" />
                </div>
    
                <button class="bg-indigo-800 w-full px-4 py-2 rounded-md">Register</button>


            </form>
        </div>
    </div>

</body>
</html>