<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/output.css" rel="stylesheet">
    <title>Register</title>
</head>

<body>
    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
                <h1 class="text-5xl font-bold m-11 mb-0 w-30">Registro de usuarios!</h1>
                <form id="registerForm" class="card-body">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Nombre</span>
                        </label>
                        <input id="nombre" type="text" placeholder="Nombre" class="input input-bordered" required />
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Email</span>
                        </label>
                        <input id="email" type="text" placeholder="ejemplo@mail.com" class="input input-bordered"
                            required />
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Contraseña</span>
                            <span id="passwordCounter" style="color: rgba(255, 0, 0, 0.721);">0/8</span>
                        </label>
                        <input id="password" type="password" placeholder="Contraseña" class="input input-bordered" required />
                    </div>
                    <p id="errorMessage" style="color: red; display: none;">asd</p>
                    <div class="form-control mt-6">
                        <button id="loginButton" class="btn btn-primary" type="submit">Registrarse</button>
                        <label class="label justify-between">
                            <a href="http://localhost/Rizzotronic/frontend/src/views/login.html"
                                class="label-text-alt link link-hover">Ya tienes una cuenta?</a>
                            <a href="http://localhost/Rizzotronic/frontend/public"
                                class="label-text-alt link link-hover">Volver al inicio</a>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../../../backend/app/controllers/sessions/registerValidation.js"></script>

</body>

</html>