<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/output.css" />
    <title>Document</title>
</head>

<body >
    <div class="bg-gray-700 p-20">
    <h1>Agregar Producto</h1>
    <form id="addProductForm">
      <label for="nombre">Nombre del producto:</label>
      <input type="text" id="nombre" name="nombre" required><br><br>
    
      <label for="imagen">Imagen del producto:</label>
      <input type="file" id="imagen" name="imagen" accept="image/*" required><br><br>
    
      <label for="precio_real">Precio real:</label>
      <input type="number" id="precio_real" name="precio_real" step="0.01" required><br><br>
    
      <label for="categoria">Categoría:</label>
      <input type="text" id="categoria" name="categoria" required><br><br>
    
      <label for="precio_promocionado">Precio promocionado:</label>
      <input type="number" id="precio_promocionado" name="precio_promocionado" step="0.01"><br><br>
    
      <label for="vigencia_promocion">Vigencia de la promoción:</label>
      <input type="date" id="vigencia_promocion" name="vigencia_promocion"><br><br>
    
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" name="descripcion"></textarea><br><br>
    
      <button class="" type="submit">Agregar Producto</button>
    </form>
</div>

<script src="../../../backend/app/controllers/sessions/addProducts.js" ></script>

</body>
</html>
